
<div id="art_show" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading art_image">
        <%= image_tag @art.image.url %>
      </div>
      <div class="panel-body">
        <h1><%= @art.title %></h1>
        <p class="description"><%= @art.description %></p>
      </div> <!-- end of panel body -->
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">Submitted by <%= @art.user.email %></p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_art_path(@art), method: :put,class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-heart"> <%= @art.get_upvotes.size %></span>
              <% end %>
              <% if current_user.email == @art.user.email %>
              <%= link_to "Edit", edit_art_path(@art), class: "btn btn-default" %>
              <%= link_to "Delete", art_path(@art), method: "delete", data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
              <% end %>
            </div>
          </div> <!-- end of row -->
        </div>
      </div> <!-- end of panel footer -->
    </div> <!-- end of panel-default -->
  </div>
</div>  




