<!DOCTYPE html>
<html>
<head>
  <title>신계자's Art Gallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<script charset="utf-8" src="//ucarecdn.com/widget/2.0.5/uploadcare/uploadcare.full.min.js"></script>
<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
  UPLOADCARE_PUBLIC_KEY = "35aab9d85173927d04b4";


  // uploadcare.openDialog(null, {
  //   crop: "disabled",
  //   previewStep: true
  // }).done(function(file) {
  //   file.promise().done(function(fileInfo){
  //     console.log(fileInfo.cdnUrl);
  //   });
  // });
    

  uploadcare.openDialog(null, {
      publicKey: "35aab9d85173927d04b4",
      imagesOnly: true
      // crop: "300x200",
  });  
</script>

</head>
<body>
<nav class="nav navbar navbar-default">
  <div class="container">
    <%= link_to "신계자 (Shin, Gyeja)'s Art Gallery", root_path, class: "navbar-brand" %>
    <% if user_signed_in? %> 
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "New Art", new_art_path %></li>
      <li><%= link_to "Account", edit_user_registration_path %></li><li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul> 
    <% else %> 
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "Sign Up", new_user_registration_path %></li>
       <li><%= link_to "Sign In", new_user_session_path %></li>
     </ul> 
     <% end %>
  </div>
</nav>
<div class="container">
    <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <%= content_tag :div, value, class: "text-center alert alert-warning" %>
      <% elsif key == "alert" %>
        <%= content_tag :div, value, class: "text-center alert alert-danger" %>
      <% else %>
        <%= content_tag :div, value, class: "text-center alert alert-success" %>
      <% end %>
      <br>
    <% end %>  
<%= yield %>
</div>
</body>
</html>